.dateBar {
  border: 1px solid black;
  height: 45px;
  width: 100%;
  position: relative;
}

.singleDate {
  position: absolute;
  height: 45px;
  width: 10px;
}

.dateRange {
  z-index: 1;
  position: absolute;
  height: 45px;
  background-color: blueviolet;
}

.middleStart {
  z-index: 2;
  background-color: red;
  width: 5px;
}

.middleEnd {
  z-index: 2;
  background-color: blue;
  width: 5px;
}
